.home {
  display: flex;
  .leftNav{
    width: 200px;
    .ul {
      height: 800px;
    }
  }
  .conContainer {
    flex: 1;
    .timeline {
      width: 100%;
      padding-right: 200px;
      margin-left: 40px;
      text-align: left;
    }
  }
}